.pImg{
    height: auto;
    max-height: 15rem;
    max-width: 100%;
}
.card{
    height: 35rem;
    overflow:hidden;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}