img{
    width: 98.5%;
    overflow: hidden;
    object-fit: fill;
}
.card{
    height: 25rem;
    width: 20rem;
    overflow:hidden;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
}
.buttons{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}